   html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(234, 250, 255);
    }

  #nav {

    width: 100%;
  }

  #aside {
    height: 100%;
    width: 15%;
    color: #525c65;
    font-size: 15px;
    overflow-y:scroll;
  }

  #aside ul {
    padding-left: 20px;
  }

  #map {
    height: 100%;
    width: 85%;
  }

  #floating-panel {
    position: absolute;
    top: 10px;
    left: 5%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
  }

  #pano {
    width: 250px;
    height: 250px;
  }

